{% extends 'layout.html' %}

{% block title %}
    Update your product
{% endblock %}

{% block content %}
    <section>
        <h2>You can update your product here.</h2>
        <form class='form-with-validation' action="{% url 'shop:update-product' product.id %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form }}
            <button class="form-submit">Save changes</button>
        </form>
        <a href="{% url 'shop:products' %}" class="add-new-button">
            Return to home
        </a>
    </section>

{% endblock %}
